@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
body * {
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.screen { 
    width: calc(100vw - 40px);
    height: -webkit-fill-available;
    margin: 2.5vh 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: scroll;
}


.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}